<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>헌혈증 기부요청</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/jumbotron.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
        integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"</script>
    <script>window.jQuery || document.write('<script src="/bootstrap/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body>
    
    <%if(register == "success"){%>
    <script>
        alert('증빙서류가 확인되었습니다!')
        alert('기부요청 게시물을 등록하였습니다!');
        location.href = '/blood/blood_donation_main';
    </script>
    <%}%>   


    <%if(locals.user_id){%>
    <%- include('header_login.ejs')%> 
    <%}else{%>
    <%- include('header_logout.ejs')%>
        <script>
            $(function () {
                $("#blood_req, .donation button")
                    .removeAttr('data-toggle').removeAttr('href')
                    .click(function () { alert('회원만 이용할 수 있습니다. 회원가입을 해주세요!') });
            });
        </script>
    <%}%>

    <script>
        if(req_id)
            $('.donation #' + req_id)
    </script>
    

    <div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="storyBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('#storyModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var button = $(event.relatedTarget)
        story = String(button.data('story'));
       
        $('#storyBody').text(story);
    })
    </script>
    <main>
        <div class="container">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th width="7%">번호</th>
                        <th>제목</th>
                        <th width="10%">작성자</th>
                        <th width="10%">개인/재단</th>
                        <th width="20%">기부된 개수/필요한 개수</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var rb of reqboards){%>
                    <tr>
                        <td><%=rb.id%></td>
                        <td><a href="" data-toggle="modal" data-target="#storyModal" data-story="<%=rb.story%>"><%=rb.title%></a></td>
                        <td><%=rb.user.nickname%></td>
                        <%if(rb.user.flag == 0){%>
                            <td>개인</td>
                        <%}else{%>
                            <td>재단</td>
                        <%}%>    
                        <td id="bcount<%=rb.id%>"><%=rb.donated_count%>/<%=rb.need_count%></td>

                        <%if(rb.is_finished){%>
                            <td style="color: green">기부완료</td>
                        <%}else{%>
                            <%if(locals.user_id != rb.req_user_id){%>
                                <td class="donation" id="<%='donation' + rb.id%>">
                                    <button id="<%=rb.id%>" type="button" class="btn-success btn-sm" data-toggle="modal" data-target="#donationModal" data-focus="true"
                                        data-req_user_id="<%=rb.req_user_id%>" data-nickname="<%=rb.user.nickname%>"
                                        data-need_count="<%=rb.need_count%>" data-donated_count="<%=rb.donated_count%>"
                                        data-used_place="<%=rb.used_place%>" data-id="<%=rb.id%>" 
                                        data-user_bdcard_count="<%=locals.bdcard_count%>" data-req_donated_bdcard_count="<%=rb.user.donated_bdcard_count%>"> 
                                        기부하기
                                    </button>
                                </td>
                            <%}else{%>
                                <td></td>
                            <%}%>
                        <%}%>
                        
                        <%if(rb.is_all_used){%>
                            <td style="color: green">사용완료</td>
                        <%}else{%>
                            <%if(locals.user_id == rb.req_user_id && rb.is_finished){%>
                                <td class="use" id="<%='use' + rb.id%>">
                                    <button type="button" class="btn-success btn-sm" 
                                        data-need_count="<%=rb.need_count%>" data-id="<%=rb.id%>">사용하기</button>
                                </td>
                            <%}else{%>
                                <td></td>
                            <%}%>
                        <%}%>
                    </tr>
                    <%}%>
                </tbody>
            </table>
           
            <div id="user_bdcard_count" style="float: left; color: limegreen">보유중인 헌혈증 개수 : <%=locals.bdcard_count%></div>
    
            <div style="float: right">            
                <a id="blood_req" href='/blood/blood_request' class="btn btn-success">기부요청 글쓰기</a>            
            </div>
        </div>
    </main>

<!-- 기부 모달창 -->
<div class="modal fade" id="donationModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5><h4>님에게 기부하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row align-items-center">
                    <div class="col-sm-3"></div>
                    총
                    <label id="need_more" for="message-text" class="col-form-label"></label>
                    개 더 기부하실 수 있습니다.
                    <div class="col-sm-2"></div>

                    <div class="col-sm-2"></div>
                    <label for="inputDonate_count" class="col-form-label col-sm-5">기부할 헌혈증 개수 입력 : </label>
                    <input  type="text" class="form-control col-sm-2" id="donate_count" name="donate_count"/> 
                    <label class="col-form-label">개</label>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="donation" type="button" class="btn btn-secondary">
                    기부하기
                </button>
                <button id="donationClose" type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 기부 로딩창 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false"
    aria-hidden="true" id="loading">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                기부중...
                <button id="autoClicked" type="button" class="btn btn-primary" data-dismiss="modal" hidden="true"></button>
            </div>
        </div>
    </div>
</div>

<!--기부 처리-->
<script>
    var need_more; // 남은 기부 개수 (최대 기부할 수 있는 헌혈증 개수)
    var req_user_id; //요청글 올린 사용자의 아이디
    var need_count; // 요청글의 필요한 헌혈증 개수
    var nickname; // 요청글 올린 사용자의 닉네임
    var donate_count; // 기부자가 입력한 헌혈증 개수
    var donated_count; // 요청글의 기부된 헌혈증 개수
    var used_place; // 사용될 병원
    var id; // 요청글 id(int)
    var user_bdcard_count; // 현재 로그인한 사용자의 헌혈증 개수
    var req_donated_bdcard_count; // 기부요청글을 올린 사용자가 기부받은 헌혈증 개수

    //모달 창에 나타나는 정보 표시
    $('#donationModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var button = $(event.relatedTarget)
        id = button.data('id');
        req_user_id = button.data('req_user_id')
        need_count = button.data('need_count')
        nickname = button.data('nickname')
        donated_count = button.data('donated_count')
        used_place = button.data('used_place')
        user_bdcard_count = button.data('user_bdcard_count');
        req_donated_bdcard_count = button.data('req_donated_bdcard_count');

        need_more = need_count - donated_count;

        modal.find('.modal-title').text(nickname).css('color', 'green');
        modal.find('#need_more').text(need_more).css('color', 'red');
    })

    //기부
    $('#donation').click(function (){

        donate_count = Number($("#donate_count").val());
        var inputMiss = false;
        if (donate_count == 0) {
            alert('0개를 기부하실 수 없습니다. 다시 입력해주세요.');
            return;
        }else if (user_bdcard_count == 0) {
            alert('등록한 헌혈증이 0개입니다. 새로운 헌혈증을 등록해주세요.');
            return;
        }else if (user_bdcard_count < donate_count) {
            alert('등록한 헌혈증이 ' + donate_count + ' 개 미만입니다. 개수를 다시 입력해주세요.');
            return;
        }else if (donate_count > need_more) {
            alert('필요한 개수를 초과하여 입력하였습니다. 개수를 다시 입력해주세요.');
            return;
        }

        $('#loading').modal('show');
        
        // ajax로 기부 처리
        $.ajax({
            url: '/blood/blood_donation',
            dataType: 'json',
            type: 'POST',
            data: { 
                id: id,
                req_user_id: req_user_id,
                nickname: nickname,
                donate_count: donate_count,
                need_count: need_count,
                donated_count: donated_count,
                used_place: used_place,
                user_bdcard_count: user_bdcard_count,
                req_donated_bdcard_count: req_donated_bdcard_count
            },
            success: function (data) {
                
                need_more = data.need_more;
                donated_count = data.donated_count;
                user_bdcard_count = data.user_bdcard_count;
                req_donated_bdcard_count = data.req_donated_bdcard_count;

                $('#need_more').text(need_more);
                $('#bcount' + id).text(donated_count + '/' + need_count);
                $('#' + id).attr('data-need_count', need_count);
                $('#' + id).attr('data-donated_count', donated_count);
                $('#' + id).attr('data-user_bdcard_count', user_bdcard_count);
                $('#' + id).attr('data-req_donated_bdcard_count', req_donated_bdcard_count);
                $('#donate_count').val('');
                $('#user_bdcard_count').text('보유중인 헌혈증 개수 : ' + user_bdcard_count);

                // 기부중.. 모달 close
                $('#autoClicked').trigger("click");
                $('#autoClicked').bind("click");

                // 
                alert(donate_count + '개의 헌혈증이 기부되었습니다. 감사합니다!');
                if(data.is_up)
                    alert(data.class + ' 등급이 되셨습니다! 축하드립니다!')
                if(data.is_finished){  
                    $('#donation' + id).text('기부완료').css('color', 'green');
                    $('#donationClose').trigger("click");
                    $('#donationClose').bind("click");
                    alert('해당 기부요청글의 기부가 완료되었습니다!');
                }
                location.href = '/blood/blood_donation_main'
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>

<!--사용 처리-->
<script>
    $('.use button').click(function(){
        var button = $(this);
        var id = button.data('id');
        var need_count = button.data('need_count');
    
        $.ajax({
            url: '/blood/blood_use',
            dataType: 'json',
            type: 'POST',
            data: { 
                id: id
            },
            success: function (data) {
                alert(need_count + '개의 헌혈증이 사용되었습니다');
                $('#use' + id).text('사용완료').css('color', 'green');
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
</body>
</html>